<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<body>
			<div th:fragment="frag-actor-form">
				<input type="hidden" id="id" name="id" th:field="*{id}" class="" />
				<input type="hidden" id="version" name="version" th:field="*{version}" class="" />
				
				<div class="form-group row">
					<div class="col-sm-3">
						<label for="name" th:text="#{com.alvcalgon.acme.explorer.actor.name}"> Name</label>
						<input type="text" id="name" name="name" th:field="*{name}" class="form-control" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid name</span>
							<span id="actorNameError"></span>
						</div>
					</div>
				
					<div class="col-sm-3">
						<label for="surname" th:text="#{com.alvcalgon.acme.explorer.actor.surname}"> Surname</label>
						<input type="text" id="surname" name="surname" th:field="*{surname}" class="form-control" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Invalid surname</span>
							<span id="actorSurnameError"></span>
						</div>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-3">
						<label for="email" th:text="#{com.alvcalgon.acme.explorer.actor.email}"> Email</label>
						<input type="email" id="email" name="email" th:field="*{email}" class="form-control" placeholder="arya-stark@gmail.com" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email</span>
							<span id="actorEmailError"></span>
						</div>
					</div>
					
					<div class="col-sm-3">
						<label for="phoneNumber" th:text="#{com.alvcalgon.acme.explorer.actor.phone.number}"> Phone number</label>
						<input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="+34 697830431" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Invalid phone number</span>
							<span id="actorPhoneNumberError"></span>
						</div>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-6">
						<label for="address" th:text="#{com.alvcalgon.acme.explorer.actor.address}"> Address</label>
						<input type="text" id="address" name="address" th:field="*{address}"
							   class="form-control" placeholder="C/ Virgen de fátima 8A, 41710 Utrera, Sevilla, España" />
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							<span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Invalid address</span>
							<span id="actorAddressError"></span>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>